<div class="footer-container" *ngIf="!isMobile; else mobileTemplate">
  <footer>
    <div class="footer-contain">
      <div class="company-logo">
        <img src="/assets/Logo/logo-column.svg" alt="logo" />
      </div>


      <div class="footer-text-res text-xllarge text-no-wrap">
        Toate drepturile rezervate ©2024
      </div>
  
      <div class="social-media-container ">
        <!-- Twitter -->
        <a class="footer-social-link text-xxxlarge40 color-white" href="#!" role="button" data-mdb-ripple-color="dark"><i
            class="fa-brands fa-x-twitter"></i></a>
  
        <!-- Instagram -->
        <a class="footer-social-link text-xxxlarge40 color-white"
          href="#" role="button"
          data-mdb-ripple-color="dark" target=”_blank”><i class="fab fa-instagram"></i></a>
        <!-- Facebook -->
        <a class="footer-social-link text-xxxlarge40 color-white"
          href="#" role="button"
          data-mdb-ripple-color="dark" target=”_blank”><i class="fab fa-facebook-f"></i></a>
  
        <!-- Linkedin -->
        <a class="footer-social-link text-xxxlarge40 color-white"
          href="#"
          role="button" data-mdb-ripple-color="dark" target=”_blank”><i class="fab fa-linkedin"></i></a>
      </div>

    </div>
  </footer>
</div>


<ng-template #mobileTemplate>
  <app-footer-mobile></app-footer-mobile>
</ng-template>