.navbar.nav-custom {
  background-color: #1F4B4C;
  box-shadow: 0px 3px 20px #00000082;
  height: 130px;
  position: fixed;
  max-width: 100%;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar.nav-custom .container-fluid{
  max-width: 1600px;
}

.navbar-brand.nav-custom {
  margin-left: 2%;
  max-width: 300px;
}

.navbar-brand.nav-custom img{
  width: 100%;
}

.navbar-collapse.nav-custom {
  flex-direction: row-reverse;
  align-items: center;
}

.navbar-nav.nav-custom:last-child {
  margin-right: 20px;
}

.dropdown-toggle::after {
  color: transparent;
}

.nav-item.nav-custom {
  display: flex;
  align-items: center; 
}

.nav-item.nav-custom .nav-link{
  color: #ffffff !important;
}

.nav-item.dropdown.nav-custom {
  margin-left: 20px;
}

.nav-item.nav-link {
  color: #393978;
}

.nav-item:hover .nav-link{
  font-weight: 700!important;
}

.navbar-nav.nav-custom .nav-item {
  white-space: nowrap;
  padding: 10px 20px;
}

.nav-link.dropdown-toggle.nav-custom {
  display: flex;
}

.dropdown-menu[data-bs-popper] {
  top: 123%;
  left: 40px;
}

.navbar-toggler{
  border:1px solid #ffffff;
}

.navbar-toggler:hover{
  border:1px solid #0bc7d3;
}

.navbar-toggler:focus{
  box-shadow: none;
  border:1px solid #0bc7d3;
}


@media only screen and (max-width: 992px) {
  .navbar-nav.nav-custom:last-child {
    margin-right: 0px;
  }

  .navbar-collapse.nav-custom{
    max-width: 580px;
    margin: 55px auto 0px auto;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 18px;
  }
}


@media only screen and (max-width: 768px) {
  .navbar-brand.nav-custom {
    margin-left: 5%;
    max-width: 180px;
  }

  .navbar.nav-custom {
    height: 67px;
  }

  .navbar-collapse.nav-custom{
    max-width: 100%;
    margin: 35px auto 0px auto;
  }

  .nav-item.nav-custom {
    display: flex;
    align-items: center; 
    justify-content: center;
  }
}