.navbar.nav-custom {
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.29) 0px 10px 10px -10px;
  height: 108px;
  position: fixed;
  max-width: 1920px;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand.nav-custom {
  margin-left: 5%;
  max-width: 300px;
}

.navbar-brand.nav-custom img{
  width: 100%;
}

.navbar-collapse.nav-custom {
  flex-direction: row-reverse;
  align-items: center;
}

.navbar-nav.nav-custom:last-child {
  margin-right: 120px;
}

.user-avatar {
  background-color: #0bc7d3;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle::after {
  color: transparent;
}

.user-details-container {
  display: flex;
  gap: 10px;
}

.nav-item.nav-custom {
  display: flex;
  align-items: center; 
}

.nav-item.nav-custom .nav-link{
  color: #393978 !important;
}

.nav-item.dropdown.nav-custom {
  margin-left: 20px;
}

.nav-item.nav-link {
  color: #393978;
}

.nav-item:hover .nav-link{
  font-weight: 700!important;
}

.navbar-nav.nav-custom .nav-item {
  white-space: nowrap;
  padding: 10px 20px;
}

.nav-link.dropdown-toggle.nav-custom {
  display: flex;
}

.dropdown-menu[data-bs-popper] {
  top: 123%;
  left: 40px;
}

.navbar-toggler{
  border:1px solid #ffffff;
}

.navbar-toggler:hover{
  border:1px solid #0bc7d3;
}

.navbar-toggler:focus{
  box-shadow: none;
  border:1px solid #0bc7d3;
}
/* .user-info {
    color: white;
  }
  
  .user-name {
    margin: 0;
    font-weight: 500;
  }
  
  .user-roles {
    margin: 0;
    font-size: 0.75rem;
  } */

/* .app-title {
    flex-grow: 1;
    text-decoration: none;
    color: white;
  } */

/* .spacer {
    flex: 1 1 auto;
  } */
/*   
  .user-menu, .guest-menu {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
  }
  
  .user-details-container{
    display: flex;
    gap:10px;
  } */


@media only screen and (max-width: 992px) {
  .navbar-nav.nav-custom:last-child {
    margin-right: 0px;
  }

  .navbar-collapse.nav-custom{
    max-width: 580px;
    margin: 55px auto 0px auto;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 18px;
  }
}


@media only screen and (max-width: 768px) {
  .navbar-brand.nav-custom {
    margin-left: 5%;
    max-width: 180px;
  }

  .navbar.nav-custom {
    height: 67px;
  }

  .navbar-collapse.nav-custom{
    max-width: 100%;
    margin: 35px auto 0px auto;
  }

  .nav-item.nav-custom {
    display: flex;
    align-items: center; 
    justify-content: center;
  }
}