<nav class="navbar navbar-expand-lg nav-custom">
  <div class="container-fluid">
    <a class="navbar-brand nav-custom" href="/home">
      <img src="Assets/Logo/LogoCup.png" alt="Company Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-custom" id="navbarNavDropdown">
      <ul class="navbar-nav nav-custom">
        <li class="nav-item nav-custom">
          <a class="nav-link text-large22" aria-current="page" href="/voluntariat">voluntariat</a>
        </li>
        <li class="nav-item nav-custom">
          <a class="nav-link text-large22" href="/despreNoi">despre noi</a>
        </li>
        <li class="nav-item nav-custom">
          <a class="nav-link text-large22" href="/contact">contact</a>
        </li>
        <li class="nav-item dropdown nav-custom">
          <a class="nav-link dropdown-toggle nav-custom" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="user-details-container">
              <div class="user-avatar text-xxlarge">
                user detail
              </div>
              <div>
                <div class="title-small text-center-ic">Name</div>
                <div class="title-small text-center-ic">Roels</div>
              </div>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" >Logout</button>
            </li>
           
          </ul>
        </li> 
      </ul>
    </div>
  </div>
</nav>

