<div class="contact-form-container">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)" id="contactForm">
    <h2 class="title-xxxlarge42 siteTextColor mb-4 w-100" style="padding-left: 40px;">Contact</h2>
    <div class="form-group-container">
      <div class="form-group-module dd-form">
        <div class="form-group dd-form">
          <label for="firstName">Nume</label>
          <input id="firstName" formControlName="firstName" class="form-control dd-form" type="text"
            (keydown.enter)="$event.preventDefault()"/>
          <div class="validation-message"
            *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched">
            Acest câmp este obligatoriu!!
          </div>
        </div>

        <div class="form-group dd-form">
          <label for="lastName">Prenume</label>
          <input id="lastName" formControlName="lastName" class="form-control dd-form" type="text"
            (keydown.enter)="$event.preventDefault()"/>
          <div class="validation-message"
            *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched">
            Acest câmp este obligatoriu!
          </div>
        </div>
      </div>

      <div class="form-group-module dd-form">
        <div class="form-group dd-form">
          <label for="email">Email</label>
          <input id="email" formControlName="email" class="form-control dd-form" type="email"
            (keydown.enter)="$event.preventDefault()"/>
          <div class="validation-message"
            *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
            Acest câmp este obligatoriu!
          </div>
        </div>

        <div class="form-group dd-form">
          <label for="phone">Telefon</label>
          <input id="phone" formControlName="phone" class="form-control dd-form" type="tel"
            (keydown.enter)="$event.preventDefault()"/>
          <div class="validation-message"
            *ngIf="contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched">
            Doar numere sunt permise!
          </div>
        </div>
      </div>

      <div class="w-100">
        <div class="form-group dd-form">
          <label for="message">Mesaj</label>
          <textarea id="message" formControlName="message" class="form-control dd-form"
            (keydown.enter)="$event.preventDefault()"></textarea>
          <div class="validation-message"
            *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
            Acest câmp este obligatoriu!
          </div>
        </div>
      </div>
    </div>

    <div class='form-module-line dd-form'>
      <div class="form-group dd-form" style="max-width: 150px;">
        <label for="securityCode" class="text-no-wrap">Cod de verificare</label>
        <input id="securityCode" formControlName="securityCode" class="form-control dd-form" type="tel"
          (keydown.enter)="$event.preventDefault()"/>
        <div class="validation-message text-no-wrap"
          *ngIf="contactForm.get('securityCode')?.invalid && contactForm.get('securityCode')?.touched">
          SecurityCode number is required
        </div>
      </div>
      <div id="generateSecurityId">
        <span class="title-xxxlarge34">{{ generatedCode }}</span>
        <button type="button" (click)="refreshSecurityCode()" class="btn-security-refresh">
          <i class="fa-solid fa-arrow-rotate-right"></i>
        </button>
      </div>
      <button type="submit" class="contact-btn custom-btn-gn dd-disable text-large22" [disabled]="true">Trimite</button>
    </div>
  </form>

  <div class="map-container" style="margin-top: 20px;">
    <div class="map-iframe">
      <img src='/assets/Images/map.png' alt="map" style="height: 370px;">
    </div>
    <div class="w-100">
      <i class="fa-solid fa-location-dot siteTextColor"></i>
      <span class="">Strada Insulei Nr. X, Târgu Mureș</span>
    </div>
    <div class="w-100">
      <a href="tel:+40727989898" style="text-decoration: none;color:inherit">
        <i class="fa-solid fa-phone siteTextColor"></i>
        <span class="text-regular">+40 727 989 898</span>
      </a>
    </div>
    <div class="w-100">
      <a href="mailto:office@intarotrophy.ro" style="text-decoration: none;color:inherit">
        <i class="fa-solid fa-envelope siteTextColor"></i>
        <span class="text-regular">office&#64;intarotrophy.ro</span>
      </a>
    </div>
  </div>
</div>