<div class="footer-container">
  <footer>
    <!-- Grid container -->
    <div class="pt-4">
      <!-- Section: Social media -->
      <section class="mb-2">
        <div class="app-link">
          <a href="/download" aria-current="page">
            <img src="../../../assets/DesignElements/AppStore.png" alt="download IOS" />
          </a>
          <a href="/download" aria-current="page">
            <img src="../../../assets/DesignElements/GooglePlay.png" alt="download ANDROID" />
          </a>
        </div>

        <div class="social-media-container text-no-wrap">
          <!-- Twitter -->
          <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fa-brands fa-x-twitter"></i></a>

          <!-- Instagram -->
          <a class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/directdocromania?igsh=ODc3eHJlcHoxcHFu" role="button"
            data-mdb-ripple-color="dark" target=”_blank”><i class="fab fa-instagram"></i></a>
          <!-- Facebook -->
          <a class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/share/3CZrvKx3sTnnV4qC/?mibextid=LQQJ4d" role="button"
            data-mdb-ripple-color="dark" target=”_blank”><i class="fab fa-facebook-f"></i></a>

          <!-- Linkedin -->
          <a class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.linkedin.com/in/directdoc-67b975308?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
            role="button" data-mdb-ripple-color="dark" target=”_blank”><i class="fab fa-linkedin"></i></a>
        </div>
      </section>
    </div>
    <!-- Grid container -->
    <div style="width: 98%; height: 2px; background-color: #e4e4e4; margin: 0 auto"></div>
    <!-- Copyright -->
    <div class="footer-info-container mt-4">

      <div style="width: 50%;">
        <div>
          <a class="footer-link text-small" href="#!" role="button">Cum funcționează</a>
        </div>
        <div>
          <a class="footer-link text-small" href="/despreNoi" role="button">Despre noi</a>
        </div>
        <div>
          <a class="footer-link text-small" href="#!" role="button">Contact</a>
        </div>
      </div>

      <div style="width: 50%;">
        <div>
          <a class="footer-text-res footer-link text-small" href="#!" role="button">Termeni și
            condiții</a>
        </div>
        <div>
          <a class="footer-text-res footer-link text-small" href="/despreNoi" role="button">Politica de
            confidențialitate</a>
        </div>
        <div>
          <a class="footer-text-res footer-link text-small" href="#!" role="button">ANPC</a>
        </div>
      </div>

    </div>

    <div class="footer-brand-contain d-flex align-items-center mb-4">
      <div class="footer-brand custom-footer">
        <img src="../../../assets/Logo/CompanyLogo.png" />
      </div>
      <div class="footer-text-res siteTextColor text-xxsmall text-no-wrap">
        Toate drepturile rezervate ©2024
      </div>
    </div>

  </footer>
</div>