<div class="startUp-container">
  <img class="background-img" src="../../../assets/Images/mainBk.png" alt="Intaro Throphy" />

  <div class="startUp-header">
    <img src="../../../assets/Logo/logo4.svg" alt="Intaro Throphy" />
    <h2 class="text-no-wrap">Launching Soon</h2>
  </div>

  <div class="startUp-center center-flex">
    <a href="https://intaroelite.com/">
      <img src="../../../assets/Logo/logo2.svg" alt="Intaro Throphy" />
    </a>
    <a href="/intaroThrophy">
      <img src="../../../assets/Logo/logo3.svg" alt="Intaro Throphy" />
    </a>

    <h2 class="text-no-wrap">Launching Soon</h2>
  </div>

  <div class="startUp-bottom">
    <div>
      <img src="../../../assets/Logo/Motto.svg" alt="Intaro Throphy" />
    </div>
    <div>
      <div style="color: #EABE33;font-size: 24px;">
        Contact
      </div>
      <div>
        <a href="mailto:office@intarosport.com">office&#64;intarosport.com</a>
      </div>
    </div>
  </div>

  <div class="startUp-bottom-2">
    <div class="line">

    </div>
    <div class="center-flex-justify-between" style="gap: 15px;">
      <p class="mt-2">
        Asociația CS INTARO, CUI 51077700, sediu social Str. Crinului, Nr. 2, Tg Mures, Mures
      </p>
      <p class="mt-2">
        Copyright © 2025 Intaro Sport - All Rights Reserved.
      </p>
    </div>
  </div>

</div>