.pa-container.intaro-tr {
    margin-top: 130px;
    max-width: 1600px;
    margin: 150px auto 40px auto;
    position: relative;
    background-color: #1c383b;
    border-radius: 20px;
    min-height: 200px;
  }

  
  