.hp-container-images.intaro-tr {
  margin-top: 130px;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.hp-container-images.intaro-tr img {
  width: -webkit-fill-available !important;
  position: relative;
  z-index: 2;
}

.hp-container-text.intaro-tr {
  margin-top: 130px;
  width: 1600px;
  margin: 0 auto;
}

.hp-container-text.intaro-tr {
  position: absolute;
  top: 130px;
  z-index: 3;
  max-width: 100%;
  margin: 0 auto;
}

.hp-container-text.intaro-tr h1 {
  color: #fff;
  font-size: 49px;
  margin-top: 100px;
  text-align: end;
  padding-right: 5%;
}

.box1 {
  background: #f26c37 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 20px;
  max-width: 445px;
  height: 185px;
  color:#fff;
  padding: 10px;
  flex-direction: column;
  margin: 14% 8%;
}

.box1 h2{
    font-size: 54px!important;
    font-weight: 500;
}

.box1 h5{
    font-size: 33px!important;
    font-weight: 300;
    margin-top:25px;
}